/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
	white-space: normal;
	text-align: center;
	word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
	color: #0366d6;
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	font-size: 14px;
}
@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.border-top {
	border-top: 1px solid #e5e5e5;
}
.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
	font-size: 1rem;
	line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	white-space: nowrap;
	line-height: 60px; /* Vertically center the text there */
}

.game-grid {
	display: grid;
	color: #776e65;
	background-color: #bbada0;
	border-radius: 3px;
	padding: 15px;
	width: max-content;
}	

.game-row {
	display: flex;
	margin-bottom: 15px;
}

.game-row:last-child {
	margin-bottom: 0;
}

.tile {
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	background-color: rgba(238,228,218,.35);
	font-weight: bold;
	margin-right: 15px;
	height: 100px;
	width: 100px;
	font-size: 3rem;
	color: #f9f6f2;
}

.tile:last-child {
	margin-right: 0;
}

.tile-full {
	background-color: #edc22e;
}

.tile-empty {
	background-color: rgba(238, 228, 218, 0.35);
}

.tile-1 {
	color: #776e65;
	background-color: #eee4da;
}

.tile-2 {
	color: #776e65;
	background-color: #eee1c9;
}

.tile-4 {
	background-color: #f3b27a;
}

.tile-8 {
	background-color: #f69664;
}

.tile-16 {
	background-color: #f77c5f;
}

.tile-32 {
	background-color: #f75f3b;
}

.tile-64 {
	background-color: #edd073;
}

.tile-128 {
	background-color: #edcc62;
}

.tile-256 {
	background-color: #edc950;
}

.tile-512 {
	background-color: #edc53f;
}